:root {
    /* Lynqa colors */
    --lynqa-primary-color: #38349b;
    --lynqa-secondary-color: #cdb6ed;
    --lynqa-third-color: #206fb6;
    --lynqa-background-color: #0f0f2e;
    --lynqa-content-background-color: #0f0f2eee;
    --lynqa-gradient-color: linear-gradient(66deg, var(--lynqa-background-color) 42%, var(--lynqa-primary-color) 90%,
        var(--lynqa-third-color) 100%);
    
    /* Base theme overrides */
    --theme-color: var(--lynqa-secondary-color);
    --cover-background-image: var(--lynqa-gradient-color);
    --sidebar-background-color: var(--lynqa-background-color);
    --base-background-color: var(--lynqa-content-background-color);
    --base-font-size: 18px;
}

.cover .baseline {
    text-align: right;
    font-size: 1.5em;
    color: white;
}

.cover .baseline-colored {
    color: var(--lynqa-secondary-color);
}

.sidebar {
    background-color: var(--sidebar-background-color);
}