:root {
    /* Lynqa colors */
    --lynqa-primary-color: #38349b;
    --lynqa-secondary-color: #cdb6ed;
    --lynqa-third-color: #206fb6;
    --lynqa-background-color: #0f0f2e;
    --lynqa-gradient-color: linear-gradient(80deg, var(--lynqa-background-color), var(--lynqa-primary-color),
        var(--lynqa-third-color));

    /* Base theme overrides */
    --theme-color: var(--lynqa-secondary-color);
    --cover-background-image: var(--lynqa-gradient-color);
    
    --base-font-size: 18px;
}

.app-nav.no-badge {
    margin-left: 0;
}

.app-nav.no-badge>p {
    margin: 0;
}

.app-nav.no-badge>p>img {
    height: 40px;
}