:root {
    /* Lynqa colors */
    --lynqa-primary-color: #454af4;
    --lynqa-secondary-color: #956cEc;
    --lynqa-background-color: #0f0f2e;


    /* Base theme overrides */
    --theme-color: var(--lynqa-secondary-color);
    --cover-background-color: var(--lynqa-background-color);
    --cover-background-image: none;
    
    --base-font-size: 18px;
}

.app-nav.no-badge {
    margin-left: 0;
}

.app-nav.no-badge>p {
    margin: 0;
}

.app-nav.no-badge>p>img {
    height: 40px;
}